# This is Git's per-user configuration file.
[user]
 	name = Avery Morin
	email = avery.schmavery@gmail.com
[credential]
	helper = store
[submodule]
	recurse = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	push-new = push -u origin HEAD
  show-pretty = show --ext-diff
[rebase]
	autoStash = true
[pull]
	rebase = true
